<%= form_with(model: @battle, local: true) do |form| %>
  <% if @battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @battle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :battle_title %>
  </div>
  
  <div class="field">
      <%= form.label :battle_date %>
      <%= form.datetime_select :battle_date %>
      
  </div>
  
  <div class="field" %>
      <%= form.label :place %>
      <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :battle_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
