<h1>battle#show</h1>


<p>title:<%= @battle.title %></p>
<p>organizer<%= @battle.user.username %></p>
<p>date:<%= @battle.battle_date %></p>
<p>place:<%= @battle.place %></p>
<p>content:<%= @battle.content %></p>